@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600;700&family=Ibarra+Real+Nova:wght@400;600&family=Lora&family=Oswald:wght@300;400&family=Poppins&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
/* MAPA */
.mapouter {
    position: relative;
    text-align: right;
    width: 30%;
    height: 320px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 320px;
}

.gmap_iframe {
    height: 320px !important;
}

/* Universales */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e2e9e0;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23dcdcdc' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-attachment: fixed;
}

a {
    text-decoration: none;
    font-family: "Cormorant SC", serif;
    color: #ffffffcb;
}

p, h1, h2, h3, h4, h5 {
    cursor: default;
}

/* ESTILOS GENERALES */

.salto-linea {
    width: 100%;
    height: 15px;
    display: block;
}

.dest-text {
    font-weight: bolder;
}

.dest-item {
    border-bottom: 1px groove #f8f8ff;
}

.sectionCarousel {
    background: rgb(31, 31, 47);
    background: linear-gradient(
            269deg,
            rgba(15, 15, 27, 0.87) 100%,
            rgba(153, 238, 227, 0.288) 77%
        ),
        url(/imagenes/nuevas\ imagenes/vacas4.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 10%;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    box-shadow: 0px 0px 15px 2px black;
}

.separador-carrusel {
    height: 180px;
    background-color: #010b0fe0;
    width: 100%;
    position: absolute;
    margin-top: -25px;
    clip-path: polygon(0 20%, 100% 0, 100% 65%, 0 100%);
    display: flex;
    justify-content: flex-end;
}

.separador-carrusel h2 {
    color: #f0f8ff;
    margin-top: 5%;
    margin-right: 18%;
    font-size: calc(1.5rem + 1vw);
    font-family: "Cormorant SC", serif;
}

.carousel {
    width: 45%;
    margin-left: 5.5%;
}

.carrusel-texto {
    position: absolute;
    margin-top: 12%;
    right: 7%;
    width: 33%;
    color: #f0f8ff;
}

.carrusel-texto p {
    font-size: calc(1rem + 1vw);
    text-align: center;
    font-family: "Ibarra Real Nova", serif;
}

/* Navbar */

.navbar {
    position: fixed;
    width: 100%;
    line-height: 130px;
    background-color: #012c3bf5;
    padding: 0px;
    z-index: 5;

    transition: all 0.3s;
    box-shadow: 0 2px 15px #012a3b;
}

.navbar-chica {
    line-height: 75px;
}

.nav-link-imagen {
    width: 20vw;
    margin-left: 5vw;
    transition: all 0.3s;
}

.nav-link-imagen-chica {
    width: 15vw;
}

.nav-imagen {
    width: 100%;
    background-color: #ffffff;
    transition: all 0.3s;
}

.logo-hereford {
    width: 8%;
    transition: all 0.3s;
}

.logo-hereford-chico {
    width: 5.5%;
}

.logo-cabana {
    width: 8%;
    transition: all 0.3s;
    clip-path: circle(47.9% at 50% 50%);
}

.logo-cabana-chico {
    width: 5.5%;
}

#navbarNav {
    flex-grow: 0;
    margin-right: 5vw;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 0rem 1rem;
    font-size: calc(0.4rem + 1vw);
    height: 100%;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: rgba(244, 244, 244, 0.027);
    box-shadow: inset 0px 0px 10px rgba(193, 225, 255, 0.411);
    color: rgb(255, 255, 255);
}

.navbar-dark .navbar-toggler {
    margin-right: 4vw;
}

/* Section Descripcion */
.descripcion {
    padding: 0;
    padding-top: 30vh;
    filter: drop-shadow(0px 8px 10px #272727);
}

.descripcion-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-top: 2%;
    height: 100vh;
    background: rgb(31, 31, 47);
    background: linear-gradient(
            95deg,
            rgba(8, 8, 17, 0.899) 60%,
            rgba(153, 238, 227, 0.288) 87%
        ),
        url(/imagenes/tranquera.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

.info-empresa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 56%;
    color: #f0f8ff;
}

.titulo {
    font-size: calc(1rem + 3vw);
    font-family: "Cormorant SC", serif;
}

.parrafo {
    padding-top: 3vh;
    font-size: calc(0.25rem + 1vw);
    border-top: 1px solid gray;
    font-family: "Ibarra Real Nova", serif;
}

/* DESTACADO */
.destacado {
    width: 100%;
    padding: 0;
    padding-bottom: 80px;
    margin: 0 auto;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #bae2f4;
    align-items: center;
    background: rgb(52, 52, 82);
    background: linear-gradient(
            140deg,
            rgba(32, 39, 51, 0.912) 13%,
            rgba(32, 43, 42, 0.732) 60%
        ),
        url(/imagenes/destacada1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0px 0px 15px 2px;
}

.div-destacado-p {
    width: 100%;
}

.destacado-title {
    color: #f0f8ff;
    font-family: "Cormorant SC", serif;
    background-color: #010b0ff5;
    box-shadow: 0px 10px 10px 1px #010b0ff5;
    width: 100%;
    height: 14vh;
    line-height: 14vh;
    text-align: center;
}

.destacado-feature {
    width: 5%;
}

.destacado-card {
    display: flex;
    width: 80%;
    height: 17vh;
    background-color: #fff6c4;
    border: 2px solid #e2d37d;
    box-shadow: inset 0 0 20px 10px #e2d37d;
    border-radius: 10px;
}

.destacado-img {
    width: 22%;
    height: 180%;
    margin-top: -40px;
    margin-left: -35px;
}

.img-derecha {
    margin-left: 0px;
    margin-right: -35px;
}

.derecha {
    flex-direction: row-reverse;
}

.destacado-p {
    font-size: calc(0.45rem + 1vw);
    font-weight: 600;
    padding: calc(0.05rem + 1%);
    font-family: "Lora", serif;
    margin: 0;
}

/* BANNER */
.banner-tienda {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    max-height: 65vh;
    background: linear-gradient(
            140deg,
            rgba(32, 39, 51, 0.912) 13%,
            rgba(32, 43, 42, 0.732) 60%
        ),
        url(/imagenes/vacas3.jpeg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    box-shadow: 0px 0px 15px 2px;
    margin-bottom: 15vh;
    text-align: center;
}

.div-banner-imagen {
    width: 80%;
}

.banner-image1 {
    width: 100%;
    height: 100%;
    clip-path: polygon(17% 0, 100% 0%, 83% 100%, 0% 100%);
}

.link-botton-banner {
    position: relative;
    bottom: 37%;
    transition: all 0.3s;
}

.link-botton-banner button {
    width: 22%;
    height: 10%;
    border-radius: 20px;
    background-color: #417703;
    color: #f0f8ff;
    font-size: calc(0.3rem + 1vw);
    font-family: var(--bs-body-font-family);
    font-weight: 500;
    padding: 0;
}

.btn {
    transition: all 0.3s;
}

.fa-arrow-right {
    margin-right: -8%;
    margin-left: 8%;
    transition: all 0.2s;
}

.link-botton-banner button:hover {
    background-color: #e1f8da;
    color: #012a3b;
}

.link-botton-banner button:hover .fa-arrow-right {
    margin-right: -15%;
    margin-left: 15%;
}

/* Logros */
.logros {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
            140deg,
            rgba(32, 39, 51, 0.912) 13%,
            rgba(32, 43, 42, 0.863) 60%
        ),
        url(/imagenes/fondo1.jpg);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    box-shadow: 0px 0px 15px 2px;
    height: 135vh;
    padding-bottom: 30px;
    margin-bottom: 100px;
    padding: 0;
}

.title-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #010b0ff5;
    box-shadow: 0px 10px 10px 1px #010b0ff5;
    margin-bottom: 20px;
}

.logros-title {
    color: #f0f8ff;
    font-family: "Cormorant SC", serif;
    width: 90%;
    height: 12vh;
    line-height: 12vh;
    text-align: center;
    border-bottom: 1px solid #f0f8ff;
}

.logros-texto {
    width: 85%;
    color: #f0f8ff;
    font-size: calc(0.35rem + 1vw);
    font-family: "Ibarra Real Nova", serif;
}

.logros-feature {
    width: 4.5%;
}

.contenedor-foto-cards {
    width: 65%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a7b8c7;
}

.contenedor-fotos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70%;
}

.muchachos {
    width: 100%;
}

.listones {
    width: 100%;
    height: 100%;
}

.contenedor-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: -60px;
}

.contenedor-card {
    width: 20%;
    height: 200px;
    background-color: #e7d56e;
    border: 5px solid #72651e;
    border-style: double;
    border-top-left-radius: 0em 0em;
    border-bottom-right-radius: 15em 1em;
    box-shadow: inset 0 0 20px 10px #918333;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contenedor-card p {
    color: #1b1919;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    padding-top: 10%;
    font-size: calc(0.45rem + 1vw);
    margin-bottom: 0;
}

.logro-año {
    width: 135%;
    margin-top: -7%;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 5vh;
    align-items: center;
    min-height: 55vh;
    background-color: #051820;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%23172570' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    box-shadow: 0px -2px 15px 2px;
}

.mapa-redes {
    display: flex;
    flex-direction: row;
    padding: 0 3vw;
    width: 100%;
    gap: 2rem;
}

.social-media {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 2vh 2vw;
    background-color: #012b3bc4;
    color: #f3ffef;
    border-radius: 15px 0 0 15px;
    /* Le agregue un border-radius a la parte izquierda */
}

.social-media h3 {
    align-self: center;
    width: 100%;
    text-align: center;
    padding-bottom: 2vh;
    margin-bottom: 3vh;
    border-bottom: 1px solid #b0bbad;
    font-family: "Cormorant SC", serif;
}

.contenedor-rows {
    padding: 0;
}

.telefonos-row {
    gap: 1rem;
    margin: 0;
}

.div-nombres-p {
    align-items: center;
    gap: 1rem;
    background-color: #0e0e184f;
    box-shadow: 0 0 5px 3px #0e0e184f;
    margin: 0;
}

.contactos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contacto {
    border-bottom: 1px solid #daffd0;
    font-size: calc(0.3rem + 1vw);
    margin: 0;
    padding: 0 3% 2px 3%;
}

.numero-mail {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    padding-bottom: 15px;
}

.numero-mail p {
    font-size: calc(0.2rem + 1vw);
}

.mail {
    font-family: var(--bs-body-font-family);
    font-size: calc(0.3rem + 1vw);
    font-weight: 100;
    padding-left: 10%;
}

.fa-envelope {
    font-size: calc(0.2rem + 1vw);
}

.link-llamar {
    display: block;
    width: 16vw;
    height: 30px;
    line-height: 30px;
    background-color: #d0e6c9;
    color: #2f3535;
    border-radius: 25px;
    text-align: center;
    font-family: var(--bs-body-font-family);
    font-size: calc(0.3rem + 1vw);
    padding: 0 5px;
    transition: all 0.3s;
}

.link-llamar:hover {
    background-color: #86979e;
    color: #051820;
}

.link-llamar i {
    padding-left: 10%;
    transition: all 0.3s;
}

.link-wsp {
    display: block;
    width: 11vw;
    height: 30px;
    line-height: 30px;
    background-color: #076b2c;
    color: #f0f8ff;
    border-radius: 25px;
    text-align: center;
    font-family: var(--bs-body-font-family);
    font-size: calc(0.3rem + 1vw);
    padding: 0 5px;
    transition: all 0.3s;
}

.link-wsp:hover {
    background-color: #14a047;
    color: #f0f8ff;
}

.link-wsp i {
    padding-left: 10%;
    transition: all 0.3s;
}

.author {
    background-color: #010b0f;
    width: 100%;
    height: 6vh;
    color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-fijo-wpp {
    display: block;
    top: 92%;
    left: 87%;
    width: 12vw;
    height: 40px;
    line-height: 35px;
    background-color: #076b2c;
    color: #f0f8ff;
    text-align: center;
    font-family: var(--bs-body-font-family);
    font-size: calc(0.3rem + 1.2vw);
    padding: 0 5px;
    transition: all 0.3s;
    position: fixed;
    border: 2px solid #f0f8ff;
    z-index: 20;
}

.btn-celu-wpp {
    width: 40px;
    position: fixed;
    top: 92%;
    left: 86%;
    z-index: 20;
}
.btn-celu-wpp a img {
    width: 100%;
}

.link-btn--fijo-wpp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1%;
}

.btn-fijo-wpp:hover {
    background-color: #14a047;
}

.link-btn--fijo-wpp:hover {
    color: #f0f8ff;
}

/*** MEDIA QUERIES ***/
/** Max-width 1000px **/
@media (max-width: 1000px) {
    .descripcion {
        padding-top: 19vh;
    }

    .descripcion-container {
        height: 50vh;
    }

    .separador-carrusel {
        height: 128px;
    }

    .contenedor-foto-cards {
        width: 100%;
    }

    .logros {
        padding: 0;
        height: 55vh;
        margin-bottom: 185px;
    }

    .destacado-card {
        height: 8vh;
    }

    .btn-fijo-wpp {
        left: 82%;
        width: 16vw;
    }

    .footer {
        min-height: 42vh;
    }
    .link-llamar {
        width: 17vw;
    }

    .author{
        margin-top: 40px;
    }
}

/** Max-width 765px **/
@media (max-width: 765px) {
    .sticky {
        line-height: 8vh;
    }

    /* Navbar */
    .nav-link-imagen {
        width: 30vw;
        margin-left: 5vw;
    }

    .contenedor-nav {
        padding: 0;
    }

    .navbar {
        background-color: #012a3b;
        line-height: 100px;
    }

    .logo-hereford {
        width: 14%;
    }

    .logo-cabana {
        width: 13%;
    }

    .navbar .nav-item {
        line-height: 50px;
    }

    .navbar .nav-item:nth-last-child(n + 2) {
        border-bottom: 1px solid rgba(128, 128, 128, 0.747);
    }

    .navbar-dark .navbar-toggler {
        color: #f0f8fff8;
        border: 2px solid #f0f8fff8;
        border-color: #f0f8ff8e;
    }

    .navbar-dark .navbar-nav .nav-link {
        padding: 0 0 0 1rem;
    }

    /* Descripcion */
    .descripcion {
        margin-bottom: 0;
        padding-top: 20vh;
        height: 65vh;
    }

    .descripcion-container {
        height: 54vh;
        background: linear-gradient(
                100deg,
                rgba(26, 26, 44, 0.851) 100%,
                rgba(153, 238, 227, 0.288) 77%
            ),
            url(/imagenes/tranquera.jpeg);
    }

    .info-empresa {
        width: 100%;
    }

    /* Carrusel */
    .sectionCarousel {
        padding: 6vh 0 6vh;
        clip-path: none;
        display: flex;
    }

    .separador-carrusel {
        height: 60px;
        background-color: #030108e5;
        position: static;
        width: 100%;
        margin-top: -42px;
        margin-bottom: 20px;
        padding-top: 10px;
        clip-path: none;
        justify-content: center;
    }

    .separador-carrusel h2 {
        margin: 0;
        font-size: calc(1.5rem + 1vw);
        font-family: "Cormorant SC", serif;
    }

    /* Destacado */
    .destacado {
        width: 100%;
        box-shadow: 0 5px 15px 1px;
        margin-top: 4vh;
    }

    .destacado-img {
        width: 40%;
        height: 150%;
        margin-top: -18px;
        margin-left: -25px;
    }

    .img-derecha {
        margin-left: 0px;
        margin-right: -35px;
    }

    /* Banner tienda */
    .banner-tienda {
        box-shadow: 0 5px 15px 1px;
    }

    .link-botton-banner {
        bottom: 40.5%;
    }

    .div-banner-imagen {
        width: 100%;
    }

    /* Logros */
    .logros {
        padding: 0;
        height: 50vh;
        box-shadow: 0 5px 15px 1px;
    }

    .contenedor-cards {
        margin-top: -50px;
    }

    .contenedor-foto-cards {
        width: 100%;
    }

    .contenedor-card {
        height: 100px;
    }

    .destacado-img {
        width: 40%;
        height: 150%;
        margin-top: -18px;
        margin-left: -25px;
    }

    .img-derecha {
        margin-left: 0px;
        margin-right: -25px;
    }

    /* Footer */
    .footer {
        padding-top: 2.5vh;
        gap: 0;
    }

    .mapa-redes {
        flex-direction: column;
        padding: 0;
    }

    .social-media {
        width: 100%;
        border-radius: 0;
    }

    .link-llamar {
        width: 29%;
    }

    .link-wsp {
        width: 19%;
    }

    .mapouter {
        width: 100%;
    }

    .author {
        margin-top: 0;
    }

    /* Boton wpp Fijo */

    .btn-fijo-wpp {
        height: 33px;
        line-height: 30px;
        width: 16vw;
        left: 82%;
    }
}

/** Max-width 500px **/
@media (max-width: 500px) {
    /* Navbar */
    .nav-link-imagen {
        width: 40vw;
        margin-left: 3vw;
    }

    /* Descripcion */
    .descripcion {
        margin-bottom: 90px;
        padding-top: 16vh;
    }

    .descripcion-container {
        justify-content: center;
        padding: 0 5% 0 5%;
        background-size: cover;
        background-position: right;
        background-attachment: scroll;
        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
    }

    .info-empresa {
        width: 100%;
    }

    .parrafo {
        font-size: calc(0.52rem + 1vw);
    }

    /* Carrusel */
    .sectionCarousel {
        padding: 0;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        background-attachment: scroll;
        background-position: top;
        background-size: auto;
    }

    .separador-carrusel {
        margin-top: 0;
    }

    .carousel {
        width: 100%;
        margin: 0;
    }

    .carrusel-texto {
        position: static;
        margin-top: 0%;
        padding: 0 2%;
        right: 0%;
        width: 100%;
    }

    /* Banner tienda */
    .banner-tienda {
        background: none;
        margin: 10vh 0;
    }

    .banner-image1 {
        width: 100%;
        clip-path: none;
    }

    /* Destacado */
    .destacado {
        padding-bottom: 50px;
        background-attachment: scroll;
    }

    .destacado-feature {
        width: 13%;
    }

    .destacado-title {
        height: 10vh;
        line-height: 10vh;
    }

    .destacado-card {
        height: 9vh;
    }

    .destacado-img {
        width: 40%;
        height: 150%;
        margin-top: -18px;
        margin-left: -25px;
    }

    .img-derecha {
        margin-left: 0px;
        margin-right: -25px;
    }

    .btn-fijo-wpp {
        line-height: 25px;
        height: 29px;
        width: 20vw;
        left: 80%;
        top: 95%;
    }

    /* Logros */
    .logros {
        margin-bottom: 100px;
        background-attachment: scroll;
    }

    .logro-año {
        width: 160%;
        margin-top: -20%;
    }

    .logros-title {
        height: 10vh;
        line-height: 10vh;
    }

    .contenedor-card p {
        font-size: calc(0.379rem + 1vw);
    }

    /* Footer */
    .author {
        margin-top: 0;
    }
}
